body{
	margin:	2em;
}

.content{
	margin-top: 4em;
}

#file_chooser{
	display: none;
}

.complete_questionnaire{
	display: none;
}

#complete_questionnaire_previous{
	display: none;
}

#complete_questionnaire_next{
	display: none;
}

#complete_questionnaire_submit{
	display: none;
}

tr:hover{
	background-color: rgba(247, 247, 247, 0.8);
}

input[type="radio"]{
	margin-right: 1em;
}