option_settings:
 aws:elasticbeanstalk:application:environment:
  DATABASE_URL: 'postgres://questionnaire_bot:h6gh209Bb0@rds.anchormen.chat:5432/questionnaire_bot'
  WEBAPP_ENDPOINT: 'http://localhost/questionnaire/'
  EMAIL_SERVICE: 'gmail'
  EMAIL_ACCOUNT: 'anchormen.test@gmail.com'
  EMAIL_PASSWORD_BASE64: 'YW5jaG9ybWVuYW1zdGVyZGFt'